<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- saved from url=(0041)http://morozemi.ws.hosei.ac.jp/kayou.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1265.21">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Hiragino Mincho ProN'; color: #ff8000}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Hiragino Mincho ProN'}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #ff8000; min-height: 14.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Hiragino Mincho ProN'; min-height: 18.0px}
    p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #ff8000}
    p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px 'Hiragino Mincho ProN'}
    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Hiragino Mincho ProN'; color: #0000ee}
    p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000ee}
    p.p10 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Century; color: #0000ee}
    p.p11 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000ee; min-height: 14.0px}
    span.s1 {font: 12.0px Times}
    span.s2 {font: 12.0px Times; color: #042eee}
    span.s3 {color: #042eee}
    span.s4 {font: 12.0px 'Hiragino Mincho ProN'}
    span.s5 {text-decoration: underline ; color: #0000ee}
    span.s6 {color: #ff8647}
    span.s7 {font: 12.0px Times; color: #0000ee}
    span.s8 {text-decoration: underline}
    span.s9 {font: 12.0px 'Hiragino Mincho ProN'; text-decoration: underline}
    span.s10 {color: #ff8000}
    span.s11 {font: 12.0px 'Hiragino Mincho ProN'; text-decoration: underline ; color: #0000ee}
    span.s12 {font: 12.0px Times; color: #ff8000}
    span.s13 {font: 12.0px 'Hiragino Mincho ProN'; color: #0000ee}
    span.s14 {font: 10.0px Times; color: #ff8000}
    span.s15 {font: 12.0px 'Hiragino Mincho ProN'; color: #ff8000}
    span.s16 {font: 10.0px Times}
    span.s17 {font: 12.0px Times; color: #000000}
    span.s18 {color: #000000}
    span.s19 {font: 12.0px 'Hiragino Mincho ProN'; color: #000000}
    span.s20 {font: 12.0px Times; text-decoration: underline}
    span.s21 {font: 10.0px Century; text-decoration: underline}
  </style>
</head>
<body>
<p class="p1"><span class="s1">2019</span>年４月４日</p>
<p class="p2">第<span class="s1">13</span>期生に選考に関する情報】</p>
<p class="p2">入ゼミ・ゼミ選考についての面接の情報を</p>
<p class="p2">Contact内の諸上ゼミ13期選考ページで公開しました。</p>
<p class="p3"><br></p>
<p class="p1"><span class="s1">2019</span>年<span class="s1">2</span>月20日</p>
<p class="p2">第<span class="s1">13</span>期生に選考に関する情報】</p>
<p class="p2">入ゼミ・ゼミ選考についの情報を</p>
<p class="p2">Contact内の諸上ゼミ13期選考ページで公開しました。</p>
<p class="p4"><br></p>
<p class="p1"><span class="s1">2019</span>年<span class="s1">2</span>月18日</p>
<p class="p2">法政大学懸賞論文にて、本ゼミ<span class="s1">11</span>期生の論文が<a href="http://www.hosei.ac.jp/NEWS/campuslife/190218.html"><span class="s2">5</span><span class="s3">本入選しました</span></a></p>
<p class="p5"><br></p>
<p class="p6">2018<span class="s4">年</span>2<span class="s4">月16日</span></p>
<p class="p2">【第<span class="s1">12</span>期生に選考に関する情報】</p>
<p class="p2">入ゼミ・ゼミ選考についの情報を<br>
<a href="file:///private/var/folders/_h/65_j5yz95453dw0547dy3j640000gq/T/morozemi12.html"><span class="s5">諸上ゼミ12期選考ページ</span></a>にて公開しました。<br>
<span class="s6">2018年2月15日</span></p>
<p class="p2">法政大学懸賞論文にて、本ゼミ<span class="s1">10</span>期生の論文が<span class="s7"> <a href="http://www.hosei.ac.jp/NEWS/campuslife/180215.html"><span class="s8">7</span><span class="s9">本入選しました</span></a></span></p>
<p class="p6">2017<span class="s4">年</span>4<span class="s4">月7日</span></p>
<p class="p2">【第<span class="s1">11</span>期生面接に関する情報】</p>
<p class="p2">二次選考のグループディスカッションの組み分けを<br>
<a href="file:///private/var/folders/_h/65_j5yz95453dw0547dy3j640000gq/T/morozemi11.html"><span class="s5">諸上ゼミ11期選考ページ</span></a>にて公開しました。<br>
<span class="s10">2017年4月6日</span></p>
<p class="p2">【第<span class="s1">11</span>期生面接に関する情報】</p>
<p class="p2">一次選考の結果を社会学部棟２階掲示板に貼りました。なお、本年は二次募集（若干名）を行います。<br>
詳細は<span class="s1"> <a href="file:///private/var/folders/_h/65_j5yz95453dw0547dy3j640000gq/T/morozemi11.html"><span class="s11">諸上ゼミ11期選考ページ</span></a></span>にて参照してください。<br>
<span class="s10">2017年3月8日</span></p>
<p class="p2">【第<span class="s1">11</span>期生面接に関する情報】</p>
<p class="p2">入ゼミ・ゼミ選考についての情報を<br>
<a href="file:///private/var/folders/_h/65_j5yz95453dw0547dy3j640000gq/T/morozemi11.html"><span class="s5">諸上ゼミ11期選考ページ</span></a>にて公開しました。</p>
<p class="p2"><span class="s12">2016</span><span class="s10">年</span><span class="s12">3</span><span class="s10">月</span><span class="s12">2</span><span class="s10">～</span><span class="s12">4</span><span class="s10">日</span><span class="s12"><br>
</span>としまものづくりメッセにて、ローザ特殊化粧料様と提携して三日間ブースを出店しました。<span class="s12"><br>
2016</span><span class="s10">年</span><span class="s12">2</span><span class="s10">月</span><span class="s12">14</span><span class="s10">日</span></p>
<p class="p7"><span class="s4">法政大学懸賞論文にて、本ゼミ</span><span class="s1">9</span><span class="s13">期生の論文が</span><span class="s7"> <a href="https://www.hosei.ac.jp/NEWS/campuslife/170215.html"><span class="s8">6</span><span class="s9">本入選しました</span></a><br>
</span><span class="s14">2016</span><span class="s10">年</span><span class="s14">1</span><span class="s10">月</span><span class="s14">21</span><span class="s10">日</span><span class="s7"><br>
</span><span class="s4">第6回</span>全国大学生マーケティングコンテストにて３位に入賞しました。<span class="s7"><br>
</span><span class="s14">2016</span><span class="s15">年12月１5日<br>
</span><span class="s4">第6回</span>全国大学生マーケティングコンテストの関東予選を突破しました。<span class="s7"><br>
</span><span class="s14">2016</span><span class="s15">年12月3日</span><span class="s14"><br>
</span>第<span class="s16">5</span>回全国学生英語プレゼンテーションコンテスト全国本選に<span class="s16">2</span>チームとも出場しました。<span class="s14"><br>
2016</span><span class="s15">年11月</span><span class="s14">26</span><span class="s15">日</span><span class="s14"><br>
</span>諸上ゼミ<span class="s16">10</span>周年記念会が行われました<span class="s16"><br>
</span><span class="s14">2016</span><span class="s15">年11月</span><span class="s14">11</span><span class="s15">日</span><span class="s14"><br>
</span>板橋産業見本市にて、ローザ特殊化粧品につてプレゼンを行い、販売をしました。<span class="s14"><br>
2016</span><span class="s15">年10月31日</span><span class="s14"><br>
</span>ビジネスフロンティアにて、ローザ特殊化粧料様と提携して三日間ブースを出店しました。<span class="s14"><br>
2016</span><span class="s15">年7月</span><span class="s14">28</span><span class="s15">日<br>
</span><span class="s4">宣伝会議の予選に２チームが進出しました<br>
</span><span class="s10">2016</span><span class="s15">年7月</span><span class="s10">17</span><span class="s15">日</span><span class="s10"><br>
</span>ConCom 2016に本ゼミから6チームが参加しました。</p>
<p class="p6">2016<span class="s4">年</span>4<span class="s4">月</span>5<span class="s4">日</span></p>
<p class="p2">【第<span class="s1">10</span>期生面接に関する情報】</p>
<p class="p2">一次選考の結果を社会学部棟２階掲示板に貼りました。なお、本年は二次募集（若干名）を行います。詳細は</p>
<p class="p8"><span class="s8"><a href="http://morozemi.ws.hosei.ac.jp/morozemi10.html">諸上ゼミ10期生選考ページ</a></span><span class="s17"> </span><span class="s18">を参照してください。</span></p>
<p class="p6">2016<span class="s4">年</span>4<span class="s4">月</span>2<span class="s4">日</span></p>
<p class="p2">【第<span class="s1">10</span>期生面接に関する情報】</p>
<p class="p2">10期生のゼミ選考の面接時間をしました</p>
<p class="p8"><span class="s8"><a href="http://morozemi.ws.hosei.ac.jp/morozemi10.html">諸上ゼミ10期生選考ページ</a></span><span class="s17"> </span><span class="s18">にて公開しました。</span></p>
<p class="p6">2016<span class="s4">年</span>3<span class="s4">月</span>17<span class="s4">日</span></p>
<p class="p2">【第<span class="s1">10</span>期生入ゼミ情報】</p>
<p class="p2">入ゼミ・ゼミ選考についての情報を</p>
<p class="p8"><span class="s8"><a href="http://morozemi.ws.hosei.ac.jp/morozemi10.html">諸上ゼミ10期生選考ページ</a></span><span class="s17"> </span><span class="s18">にて公開しました。</span></p>
<p class="p6">2016<span class="s4">年</span>2<span class="s4">月</span>14<span class="s4">日</span></p>
<p class="p9"><span class="s19">法政大学懸賞論文にて、本ゼミ</span><span class="s18">8</span><span class="s19">期生の論文が</span><span class="s18">5</span><span class="s19">本入選しました。<a href="http://www.hosei.ac.jp/NEWS/campuslife/160212.html"><span class="s20">http://www.hosei.ac.jp/NEWS/campuslife/160212.html</span></a></span></p>
<p class="p6">2015<span class="s4">年</span>12<span class="s4">月</span>2<span class="s4">日</span></p>
<p class="p2">社会学部学部研究発表会にて本ゼミの活動成果の発表を行いました。</p>
<p class="p6">2015<span class="s4">年</span>11<span class="s4">月</span>29<span class="s4">日</span></p>
<p class="p2">第<span class="s1">5</span>回全国大学生マーケティングコンテスト関東予選に出場しました。</p>
<p class="p9"><span class="s8"><a href="https://marketingjp.com/">https://marketingjp.com/</a></span></p>
<p class="p6">2015<span class="s4">年</span>9<span class="s4">月</span>15<span class="s4">日</span></p>
<p class="p2">東海大学との大学別コンサルティングコンペティションに本ゼミから<span class="s1">4</span>チームが参加しました。</p>
<p class="p6">2015<span class="s4">年</span>8<span class="s4">月</span>9<span class="s4">日</span></p>
<p class="p2">イトーヨーカドー八王子店の地域応援セールにて、サブゼミでローザ特殊化粧料様と共同開発を行った女性用化粧品「<span class="s1">aile</span>」と男性用化粧品「<span class="s1">LUMBER JACK pro UV</span>」の販売を行いました。</p>
<p class="p6">2015<span class="s4">年</span>6<span class="s4">月</span>22<span class="s4">日・</span>24<span class="s4">日</span></p>
<p class="p2">サブゼミでの活動が、東京新聞、日本経済新聞に掲載されました。</p>
<p class="p6">2015<span class="s4">年</span>5<span class="s4">月</span>13<span class="s4">日</span></p>
<p class="p2">ジェイコム八王子より放送中の「日々、八王子」にてローザ特殊化粧料様と本ゼミの学生がテレビ出演しました。</p>
<p class="p6">2015<span class="s4">年</span>5<span class="s4">月</span>8<span class="s4">日</span></p>
<p class="p2">先日の「<span class="s1">LUMBER JACK pro UV</span>」発表会の様子が法政大学ホームページに取り上げられました。</p>
<p class="p9"><span class="s8"><a href="http://www.hosei.ac.jp/koho/photo/2015/150508.html">http://www.hosei.ac.jp/koho/photo/2015/150508.html</a></span></p>
<p class="p6">2015<span class="s4">年</span>4<span class="s4">月</span>27<span class="s4">日</span></p>
<p class="p2">法政大学一口坂ショウルームにて、サブゼミでローザ特殊化粧料様と共同開発した男性用化粧品「<span class="s1">LUMBER JACK pro UV</span>」の発表会を行いました。</p>
<p class="p6">2015<span class="s4">年</span>3<span class="s4">月</span>7<span class="s4">日</span></p>
<p class="p2">【第<span class="s1">9</span>期生入ゼミ情報】</p>
<p class="p2">入ゼミ・ゼミ選考についての情報を</p>
<p class="p8"><span class="s8"><a href="file:///private/var/folders/_h/65_j5yz95453dw0547dy3j640000gq/T/9d92de54-b5ee-4b8d-9cf9-17c7b1b3a5df/httpdocs/Users/shigem/Desktop/morozemi9.html">諸上ゼミ9期生選考ページ</a></span><span class="s17"> </span><span class="s18">にて公開しました。</span></p>
<p class="p6">2015<span class="s4">年</span>3<span class="s4">月</span>7<span class="s4">日</span></p>
<p class="p2">【ゼミ説明会の日程】</p>
<p class="p2"><span class="s1">3</span>月<span class="s1">31</span>日（火）社会学部棟<span class="s1">201</span>号室で<span class="s1">15</span>時～<span class="s1">16</span>時の間でゼミ説明会を行います。</p>
<p class="p6">2015<span class="s4">年</span>2<span class="s4">月</span>18<span class="s4">日</span></p>
<p class="p2">法政大学懸賞論文にて、本ゼミ<span class="s1">7</span>期生の論文が<span class="s1">9</span>本入選しました。</p>
<p class="p10"><span class="s8"><a href="http://www.hosei.ac.jp/NEWS/campuslife/150218.html">http://www.hosei.ac.jp/NEWS/campuslife/150218.html<span class="s21"></span></a></span></p>
<p class="p11"><br></p>
<p class="p6">2015<span class="s4">年</span>1<span class="s4">月</span>30<span class="s4">日</span></p>
<p class="p2">法政大学多摩キャンパス地域交流<span class="s1">DAY</span>にて、サブゼミでの「檜コスメのマーケティング戦略による檜原村活性化学生プロジェクト」について報告を行いました。</p>
<p class="p6">2014<span class="s4">年</span>11<span class="s4">月</span>29<span class="s4">日</span></p>
<p class="p2">第<span class="s1">4</span>回全国大学生マーケティングコンテスト関東予選に出場しました。</p>
<p class="p9"><span class="s8"><a href="https://marketingjp.com/">https://marketingjp.com/</a></span></p>
<p class="p6">2014<span class="s4">年</span>11<span class="s4">月</span>14<span class="s4">日</span></p>
<p class="p2">サブゼミでの活動が、朝日新聞、共同通信に掲載されました。</p>
<p class="p6">2014<span class="s4">年</span>11<span class="s4">月</span>13<span class="s4">日</span></p>
<p class="p2">「東京ドーム地域発見フェア」にて、サブゼミでローザ特殊化粧料様と共同開発を行った女性用化粧品のブースを出店しました。</p>


</body></html>