%p.p2
  %br/
%p.p3 諸上ゼミ15期生選考ページ
%p.p4
  %br/
%p.p5
  選考方法: 課題＋面接
  %span.Apple-converted-space  
%p.p6 面接日：4月2日（金）
%p.p6 面接会場：社会学部棟615教室
※当日の控室は617教室です。面接の進行状況により時間が前後する場合がありますので、早めに控室にてお待ちください。
%p.p4 
  %br/
%p.p6
  選考では　
  %span.s2
    %b 事前課題
  %span.s3
    %b 　
  = succeed "\u{3000}\u{306e}\u{ff12}\u{70b9}\u{306e}\u{63d0}\u{51fa}\u{304c}\u{5fc5}\u{8981}\u{3067}\u{3059}\u{3002}" do
    %span.s2
      %b 面接準備シート
%p.p4
  %br/
%p.p8
  %b 事前課題について
  %br
  %br
%p.p6
  こちらから
  %a{href: "https://1drv.ms/w/s!AgsRWczssrNEpAfkOSGuDwphg2eh"} 「15期　事前課題」
  をダウンロードして利用して下さい
%p.p4
  %br/
%p.p8
  %b 面接準備シートについて
  %br
  %br
%p.p6
  こちらから
  %a{href:"https://1drv.ms/w/s!AgsRWczssrNEo2fZS6jDQk0hhPv7"}> 「15期　面接準備シート」
  をダウンロードして利用して下さい
%p.p4
  %br/
%br/
%br/
%p.p6
  以上の２点を記入の上で、メールに添付し、
  %span.s1>
    %b 4月1日　12：00まで
  にmorozemi14th@gmail.comに送信して下さい。
%p.p4
  %br/
%br/
%br/
%p.p4
  %br/
%p.p8
  %span.s2
    %b 【注意点】
%p.p6
  ①
  %b Wordファイルのダウンロードはパソコンから行ってください
%p.p6
  ②
  %b 課題の提出はメールでのみ行います。メールを受け取り次第、「受理完了メール」を送信します。
%p.p6
  ③「面接準備シート」の顔写真に関しては、
  %b> Wordファイルの「写真を貼付」の枠内に貼り付けてください。
  また、そこに貼り付けることが難しい場合はメールに添付してください。（顔写真は大学入学後の写真で、自身の顔が分かるものにしてください。）
%p.p6
  ④面接時間に関してはこちらから指定しメールでお伝えしますので、
  %b> 4月2日は終日予定をあけておいてください。
  もし、確実に予定が入っている時間があれば課題提出の際にメールに記入してください。
%p.p4
  %br/
%p.p4
  %br/
%p.p6 質問等ございましたら、お気軽にmorozemi14th@gmail.comにご連絡ください。
%p.p4
  %br/
%p.p4
  %br/
%p.p4
  %br/



