%p.p2
  %br/
%p.p3 諸上ゼミ15期生選考ページ

%b  諸上ゼミ15期生の一次選考は終了いたしました。
%p.p6 ご応募頂いた皆様ありがとうございました。
    
 
%p.p6

%p.p4
  %br/
%p.p4
  %br/
%p.p6 なお、今年度につきましては、諸般の事情を勘案して、二次選考は行わないことに決定しました。
%p.p4
  %br/
%p.p4
  %br/
%p.p4
  %br/


 


