.title-box3{
  background-image: url("bonus.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 78%;
  height: 100%;
  margin: auto;
}

.main1-box{
  width: 70%;
  margin: 5% auto;
}
.nine-box{
  display: flex;
  margin-bottom: 100px;
}
.image-9{
  width: 50%;

}

.contents {
  width: 50%;
  color: gray;
}