.title-box3{
  background-image: url("bonus.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 78%;
  height: 100%;
  margin: auto;
}

.main1-box{
  width: 70%;
  margin: 5% auto;
}
.nine-box{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
}
.image-9{
  width: 50%;
  height: 400px;
}

.image-10{
  width: 50%;
  height: 400px;
}

.image-11{
  width: 50%;
  height: 300px;
}

.image-12{
  width: 50%;
  height: 300px;

}

.image-13{
  width: 50%;
  height: 300px;
  
}

.contents {
  color: gray;
}