.title-box3{

  background-size: 500px;
  width: 1000px;
  
}

.toph{
  margin-left: 50px;
}

.main1-box{
  width: 900px;
  margin: 100px auto;

}
.five-box{
  display: flex;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;

  
}
.six-box{
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;



}

.seven-box{
  display: flex;
 
  margin-bottom: 100px;
  
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;

}
.eight-box{
  display: flex;
 
  margin-bottom: 100px;
  justify-content: space-evenly;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;

}
.nine-box{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;

  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
}

.eleven-box{
  display: flex;

  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;
}
.twelbe-box{
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;


}

.thirteen-box{
  display: flex;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: space-evenly;
}
.image-9{
  height: 300px;
}

.image-10{
  width: 50%;
  height: 400px;
}

.image-11{
  width: 400px;
  height: 300px;

  margin-left: 0;
}

.image-12{
  width: 50%;
  height: 300px;

}

.image-13{
  height: 300px;
  
}

.contents {
  padding: 10px;
  color: gray;
}

.contents11{
  padding: 10px;
  color: gray;
}

.contents12{
  padding: 10px;
  color: gray;
 
}
