.title-box2{
  background-image: url("link&logo.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 78%;
  height: 100%;
  margin: auto;
}



.main-box{
  width: 70%;
  display: flex;
  margin: 5% auto;
}

.contact-box{
  width: 60%;
}

.link-box{
  margin-left: 100px;
  width: 40%;
}

.main-box{
  color: gray;

}

span{
  color: black;
}