.consumer-box{
  width: 90%;
  height: 500px;
  display: flex;
  margin: auto;
}


.title-box{
  background-image: url("56019.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  height: 100%;
  width: 900px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba($color: #f9fafa, $alpha: 0.8);
  margin: auto;
  position: relative;
}

.contents1{
  font-size: 100px;
  margin-top: 300px;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.2);
  width:100%;
  position: absolute;

}
.contents-main-box{
  width: 900px;
  margin: auto; 
  color: grey;
}

.contents-box{
  padding-top: 100px;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;

}
.zemi-box{

  padding-top: 100px;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
}
.zemilogo-box{
  padding-top: 100px;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  h3{
    color: black;
    font-size: 20px;


  }
  
  .zemilogo{
    width: 550px;
    height: 1000px;

    
  }
}


.action-box{
  padding-top: 100px;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
}

.schedule-box{
  padding-top: 100px;

  padding-bottom: 100px;
}

.process-box{
  padding-top: 100px;;
  border-bottom: 1px solid rgb(236, 232, 232);
}
.imag-box{
  
text-align: center;
}

.triangle{
  padding-top: 20px;

}
.Performance-box{
  padding-top: 100px;
  padding-bottom: 100px;

}
h1{
  color: black;
  font-size: 20px;
}

.cristf{
  border-bottom: solid rgb(180, 243, 167);
  color:  green;
}


.cristf:hover{
  color: black;
  border-bottom: solid black;
}

.cristf2{
  margin-left: 30px;
  border-bottom: solid rgb(180, 243, 167);
  color:  green;
}


.cristf2:hover{
  color: black;
  border-bottom: solid black;
}

.olaf{
  margin-left: 30px;
}

.elsa{
  width: 900px;
}

.frozen2{
  display: flex;
}