.s1 b{
  font-weight: bold;
 
  border-bottom: solid 1px;
  color: black;

}


.s2 b{
  font-weight: bold;
  font: 24.0px 'Hiragino Mincho ProN';
  border-bottom: solid 1px;
  color: black;

}

p.p3{
  font: 26.0px 'Hiragino Mincho ProN';
}

.p6 a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}